<!--gksudo nautilus-->


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>Udawalawa Elephants</title>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" type="text/css" href="style/style.css" />
<link rel="stylesheet" type="text/css" href="style/colour.css" />
<link rel="stylesheet" type="text/css" href="style/image_viewer.css" />
</head>
<body>
<div id="logo">
  <h1>Udawalawa Elephants</h1>
</div>

<div id="site_conten">
  <div id="content">

    <div id="Identify_elephant">
      <h1 id="find_elephant">Find Elephants</h1>
      <!--<form action = "darkflow/test.php" method = "POST" enctype = "multipart/form-data">-->
      <form action = "#" method = "POST" enctype = "multipart/form-data">
        Upload images:<br>
         <input type = "file" name = "image" />
         <input type = "submit" id="btn_upload" value="Upload" name="Submit1" onclick="upload_click()"/>
         <input type = "submit" id="btn_predict" name="submit2" value="Predict" />
     </form>
      <!-- <div id="div_btn_predict"><button type="button" id="btn_predict">Predict</button> </div> -->
    </div>

    <div id="all_elephants">
      <h1 id="all_elephants_topic">Elephants in Udawalawa (01.01.2007)<span class="sub">[hover over thumbnails to view]</span></h1>

          <div id="gallery">
            <em id="thumbs">
              <a href="#nogo"><img src="images/samples/001.JPG" alt="" /></a>
              <div id="ele_name">001</div>
            </em>
          </div>
    </div>
  </div>
  <div>
</div>
<script>

function upload_click()
{
  document.getElementById("btn_predict").style.visibility = "visible";

}
</script>

</body>
</html>
